[Unit]
Description=A Wayland compositor inspired by AwesomeWM
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

Wants=xdg-desktop-autostart.target
Before=xdg-desktop-autostart.target

[Service]
Slice=session.slice
Type=notify
# Spare duplicate (systemd & pinnacle) timestamps in log output, see src/main.rs
Environment=PINNACLE_LOG_TIMESTAMPS=0
ExecStart=/usr/bin/pinnacle --session

# vim:ft=systemd
