.vp-doc [class*="compress-lines"] [class*="language-"] code {
    line-height: 1.15 !important;
}

:root {
    --vp-code-color: var(--vp-c-text-1);
    --vp-layout-max-width: 1920px;
}

.layout-horizontal {
    display: flex;
}

.VPDoc:not(.has-sidebar) .container {
  max-width: 1584px !important;
}

.VPDoc:not(.has-sidebar) .content {
  max-width: 1264px !important;
}

.VPDoc.has-aside .content-container {
  max-width: 1168px !important;
}
