name: Build and Publish Lua Docs

on:
  push:
    branches:
      - main
      - v[0-9]+.[0-9]+
    paths:
      - api/lua/**
    tags:
      - v*
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SSH_DEPLOY_KEY: ${{ secrets.DOCS_DEPLOY_KEY_LUA }}

jobs:
  build-docs:
    name: Build docs
    runs-on: ubuntu-24.04

    if: startsWith(github.ref, 'refs/tags/') || github.ref_name == 'main'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout lcat
        uses: actions/checkout@v4
        with:
          repository: Ottatop/lcat
          path: ./lcat

      - name: Get Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache stuff
        uses: Swatinem/rust-cache@v2

      - name: Set version
        run: |
          if [ ${{ startsWith(github.ref, 'refs/tags/') }} == "true" ]; then
            echo "VERSION=${GITHUB_REF#refs/*/v}" >> $GITHUB_ENV
          else
            echo "VERSION=main" >> $GITHUB_ENV
          fi

      - name: Generate docs
        run: |
          cd ./lcat
          cargo run -- --dir "../api/lua" --base-url "/lua-reference/${{ env.VERSION }}/"

      - name: Push files
        uses: cpina/github-action-push-to-another-repository@v1.7.2
        with:
          source-directory: ./lcat/lcat_out
          destination-github-username: pinnacle-comp
          destination-repository-name: lua-reference
          target-branch: main
          target-directory: ${{ env.VERSION }}
